.Gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.Gallery img {
  width: 90vw;
  height: 50vw;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px #f99797d4;
  border: 1px solid #f76c6c;
}

.Gallery::after {
  content: "";
  display: flex;
  width: 50%;
}

.over_img {
  margin: 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000082;
  display: none;
}

.popup_img {
    width: 90vw;
    z-index: 2;
    top: 20vh;
}

.popup_img img {
    height: 40vh;
    width: 100%;
}

.open {
  animation: animate 1s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width:500px) {
  .Gallery img {
    width:45vw;
    height:20vw
  }
  .popup_img img {
    height: 80vh;
    width:90vw;
}
}

@media screen and (min-width: 800px) {
    .Gallery img {
      width: 22vw;
      height: 18vw;
    }
    .Gallery::after {
      width: 75vw;
    }

    .Gallery .large-img{
      width:47vw
    }
    .popup_img {
      top: 10vh;
      width: 80%;
  }
  .popup_img img {
      height: 80vh;
      width:90vw;
  }
}
