.locations {
  display: flex;
  flex-direction: column;
}

.locations select {
  width: 50vw;
  text-align: center;
  margin: 10px auto;
}

.map {
  width: 95vw;
  height: 50vh;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #f76c6c;
  box-shadow: 4px 4px #f5a3a3;
}

.map div {
  margin: 0;
  width: auto;
  color: #f76c6c;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
}

.map div .marker-text {
  text-align: center;
  width: 0;
}

.map div img {
  width: 30px;
  border-radius: 50%;
  padding: 2px;
  background: #ffffffdb;
  border: 1px solid;
  box-shadow: 2px 2px #f5a3a3;
}

.map div .mapboxgl-popup {
  transform: translate(10%, 100%) !important;
}
