* {
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
}

.switch-wrapper {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.switch-wrapper > div {
  position: absolute;
  width: 100vw;
  height: 120vh;
}

.btn-primary {
  background-color: #f76c6c;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding: 10px;
}

.btn-secondary {
  background-color: #fff;
  color: #f76c6c;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #f76c6c;
  padding: 10px;
}

button {
  cursor: pointer;
  box-shadow: 4px 4px #f99797d4;
  margin-top: 10px;
}

button:hover {
  transform: rotate(0deg);
  animation: btn-anim 1s cubic-bezier(.39,.58,.57,1) infinite;
}

@keyframes btn-anim {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 500px) {
  .switch-wrapper > div {
    height: auto;
  }
}
